/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
	/*Header-section*/
	.tel {
		display: none;
	}
	.top-center {
		display: none;
	}
	.header-bottom-2 {
		display: block!important;
	}
	/*Section-hall*/
	.hall-wrap {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	
}
@media only screen and (max-width: 1140px) {
	
}
@media only screen and (max-width: 1070px) {
	
}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	/*Header-section*/
	.header-bg {
		height: auto;
	}
	.header-bg-wrap {
		padding-right: 26px;
	}
	/*Section-complecs*/
	.section-complecs img {
		width: 65%;
	}
	/*Section-slider*/
	.carousel-control {
		font-size: 98px;
	}
	.span-3-2 {
		display: none!important;
	}
	.fluid {
		width: 45%;
	}
	.fluid .slider-title {
		left: 15%;
	}

	/*Section-help*/
	.help-item-1 {
		font-size: 34px;
	}
	.help-item-2 {
		width: 350px;
	}
	.help-wrap {
		width: 650px;
	}

	/*Section-more-photos*/
	.section-more-photos .span-photo {
		display: none!important;
	}

	.section-more-photos .row-fluid .span3 {
		width: 40%;
	}
	
	
}
@media only screen and (max-width: 850px) {
	/*Section-help*/
	.party-wrap {
		flex-direction: column;
    	align-items: center;
    	padding-top: 50px;
	}
	.party-item {
		padding-top: 50px;
	}
	.your-party {
		padding-top: 120px;
	}
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	/*Section-menu*/
	.header-bg-bottom {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: initial;
		-ms-flex-align: initial;
		align-items: initial;
	}
	/*Section-complecs*/
	/*.section-wrap-top, .section-wrap-bottom {
		padding-top: 0;
	}
	.section-wrap-top, .section-wrap-bottom, .serices-wrap-top, .serices-wrap-bottom {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.section-complecs img {
		width: 35%;
		padding-top: 65px;
	}*/
	
	
	/*Section-slider*/
	.container-fluid {
		margin-top: 20px;
	}
	/*.span-3-1 {
		display: none!important;
	}*/
	/*.item {
		height: 420px;
	}*/
	.fluid .row-fluid .span3 {
		width: 100%;
		height: 300px;
		margin-left: 0;
		transform: scale(1.5);
	}
	.carousel-control {
		font-size: 84px;
	}
	.fluid .row-fluid .span-3-3 {
		display: none;
	}

	.fluid {
	    width: 70%;
	}

	.fluid .slider-title {
		position: static;
		-ms-align-items: flex-start;
		align-items: flex-start;
		padding-bottom: 30px;
	}
	.fluid .control-box {
		padding-top: 30px;
	}
	.section-slider {
		margin-top: 88px;
	}
	.slider-title h4 {
		font-size: 31px;
		line-height: 38px;
		text-align: left;
	}
	.slider-title img {
	    width: 10px;
	}

	.slider-title p {
		font-size: 13px;
	}

	/*Section-hall*/
	.hall-wrap .control-box {
		display: none;
	}
	/*Section-your-party*/
	.party-wrap {
		padding-bottom: 0;
	}
	/*Section-more-photos*/
	.span-photo-1 {
		display: none!important;
	}
	.zayavka {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.dwnl-presentation, .zayavka p {
		padding-top: 45px!important;
	}
	/*Section-contacts*/
	.section-contacts h3 {
		font-size: 52px;
		margin-bottom: 20px;
	}
	.contacts-item {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-ms-align-items: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding-top: 25px;
	}
	.contacts-wrap {
		-ms-align-items: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding-left: 25px;
		padding-right: 25px;
	}
	.contacts-item p {
		font-weight: 600;
		font-size: 31px;
		padding-left: 0;
		padding-top: 10px;
	}
	.contacts-item span {
		padding-top: 25px;
	}
	.cnt-2 {
		padding-left: 0;
	}
	.cnt-2 p {
		margin-top: 0;
	}
	hr {
		display: none;
	}
	/* Mobile-menu */
	.header-top, .header-bottom, .header-bottom-2 {
		display: none!important;
	}
	.mobile-menu {
		display: block;
	}
}
/* Extra Small Devices, Phones */
	
@media only screen and (max-width: 670px) {
	/*Section-hall*/
	.hall-wrap h3 {
		font-size: 23px;
	}
	.span-4 {
		display: none!important;
	}
	/*Section-help*/
	.help h2 {
		font-size: 23px;
	}
	.help-item-1 {
		font-size: 18px;
		justify-content: space-around;
	}
	.help-item-1 p {
		text-align: left;
	}
	.help-right {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-top: 20px;
	}
	.help-item-2 p {
		padding-top: 15px;
		font-size: 13px;
	}
	.dwnl-presentation span {
		font-size: 13px;
	}
	
	
	
	.section-contacts {
		margin-top: 65px;
	}
	.section-contacts h3 {
		margin-bottom: 0;
	}
	
	/*.item {
		height: 350px;
	}*/
}
@media only screen and (max-width: 500px) {
	/*Header-section*/
	.header-bg h1 {
		font-size: 21px;
	}
	.header-bg-wrap {
		padding-left: 26px;
		padding-top: 10px;
		padding-bottom: 29px;
	}
	.h1-text {
		font-size: 13px;
		line-height: 16px;
		margin-top: 21px;
		margin-bottom: 44px;
	}
	a.booked {
		width: 183px;
		height: 63px;
	}
	/*Section-menu*/
	.sct-menu-wrap span {
		font-size: 13px;
	}
	/*Section-complecs*/
	section h2 {
		font-size: 23px;
	}
	.section-complecs img {
		width: 28%;
		padding-top: 42px;
	}
	/*Section-slider*/
	/*.item {
		height: 270px;
	}
	.container-fluid {
		margin-top: 0;
		padding-top: 0;
	}*/
	
	
	/* Section-contacts */
	.section-contacts h3 {
		font-size: 23px;
	}
	.contacts-item span {
		font-size: 18px;
		font-weight: 400;
	}
	.contacts-item p {
		font-size: 23px;
	}
	.contacts-item {
		padding-top: 0;
	}
	.cnt-3 {
		margin-top: 40px;
	}
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 450px) {
	/*.item {
		height: 230px;
	}*/
	
	
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}